.container-fluid{
    background-color: rgb(30, 38, 77);
    color:aliceblue;
}
.navbar-brand, 
.nav-link {
    color: aliceblue;
    padding-right: 50vw;
}

#card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    background-color: rgb(225, 226, 226);

}

.card{
    text-align: center;
}

.footer {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    background-color: rgb(30, 38, 77);
    color: aliceblue;
    text-align: center;
}

